langchain
flask
langchain-google-genai
chromadb
langchain-community
sentence-transformers
langchain-huggingface
python-dotenv
langgraph
pandas
python-doctr[torch]
opencv-python-headless
pypdf
PyPDF2
matplotlib
openpyxl
beautifulsoup4
streamlit-mic-recorder
langchain-core
langchain-groq