langchain
flask
langchain-google-genai
chromadb
langchain-community
sentence-transformers
langchain-huggingface
python-dotenv
langgraph
pandas
python-doctr[torch]
PyPDF2
matplotlib
langchain-core
pypdf
openpyxl
beautifulsoup4
streamlit-mic-recorder
langchain-groq